.container{
    width: 500px;
    height: 300px;
    background: #35354c;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 10px;
    border: none ;
    /* Flex-wrap:wrap; */
    word-break:break-all;
}
.inputContainer{
    display: flex;
    align-items:center;
    gap: 1rem;
}

.inputContainer input{

}
.inputContainer button{
    cursor: pointer;
}
.outputContainer{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}

.resultFibonacci{
    margin-top: 4.5rem;
    font-size: 2rem;
    font-weight: 500;
    max-height: 8rem;
    overflow-y: scroll;
}
.resultFibonacci::-webkit-scrollbar {
    display: none;
}