.container{
    width: 500px;
    height: 300px;
    background: #35354c;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 10px;
    border: none ;
}
.inputContainer{
    display: flex;
    align-items:center;
    gap: 1rem;
}
.inputContainer input{

}
.inputContainer button{
    cursor: pointer;
}
.result{
    margin-top: 4.5rem;
    font-size: 2rem;
    font-weight: 500;
}